 html{
   scroll-behavior: smooth;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 .hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 nav .logo{
    width: 60px;

 }

 nav ul li{
    list-style: none;
    display: inline-block;
    margin: 4px 23px;
    margin-left: 40PX;
 }

 nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
 }
 nav ul li a:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: #fff;
    border-radius: 11px;
    color: grey;
 }

.glass{
   align-items: center;
   width: 56%;
   height: 54%;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
 .content{
   padding-top: 142px;
    text-align: center;
 }

 .content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;

 }

 .content h1:hover{
    -webkit-text-stroke: 4px #fff;
    color: transparent;
 }

 .content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

 }

 .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
   }
   .getstar:hover{
   backdrop-filter: blur(25px);
   -webkit-backdrop-filter: blur(25px);
   opacity: 0.7;
   }

 /* services section */
 .service{
   width: 100%;
   height: 100vh;
 }

 @media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
 }
